.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  height: calc(60vh);

  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1120px) {
    grid-template-columns: 1fr;
  }

  aside {
    padding: 2rem;

    img {
      width: 100%;
      border-radius: 0.25rem;
    }
  }
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}

.box {
  div {
    display: flex;
    align-items: center;

    svg {
      margin-right: 1rem;
      color: var(--cyan-500);
    }

    & + div {
      margin-top: 2rem;
    }
  }
}
